@model FinalProject.Models.HomeViewModel

<html>

    <head>
        <link href="~/Styles/Home.css" rel="stylesheet" />
        <title>Final Project</title>
    </head>

    <body>
        <script src="~/Scripts/jquery-2.1.1.min.js"></script>
        <script src="~/Scripts/jquery-ui.min.js"></script>
        <script src="~/Scripts/Home.js"></script>
        
        <div class="home">
            
            <div>Hello World</div>



            <section>
            
                <div class="header">
                    Welcome to Cuyahoga Community College Student Services Online</h1>
              </div>

                <div class="paragraph"> Community College recognizes students rights to access personal and academic records in accordance with the Family Educational
                Rights and Privacy Act of 1974 (FERPA) as amended by Public Laq 93-568</p>
            </div>


                <div class="boxed">
                    <!-- This is where the BOX will go-->
                </div> 


            </section>

        </div>
        
        


        <footer>Cuyahoga Community College <br />
        700 Carnegie Avenua, Cleveland Ohio 44115
        </footer>


    </body>

</html>